.seta-cima {
    display: flex;
    justify-content: center;
    height: 20px;
    width: 30px;
    background-image: url(../img/background.png);
    border: 1px solid var(--branco);
    border-radius: 10px;
    color: var(--branco);
    align-items: center;
    position: fixed;
    text-decoration: none;
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    /* box-shadow: 2px 2px 3px white; */
    scroll-behavior: smooth;
}

.seta-cima img {
    rotate: 270deg;
}

main .container {
    flex-direction: row;
}

.banner {
    display: flex;
    justify-content: center;
    height: calc(100vh - 100px);
    max-width: 1224px;
}

body::before {
    content: "";
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1; 
}

.banner_logo img {
    width: 100px;
}

/* #img_cartao-frente img {
    width: 460px;
} */

#cartao {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
}

.bg-cartao {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
}

.bg-cartao::before{
    content: "";
    background-image: url(../img/bg_cartao.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 500px;
    position: absolute;
    z-index: -1;
}

.frases_titulo {
    font-family: 'Poppins', sans-serif;
    width: 600px;
    /* background-color: aqua; */
}

.titulo {
    display: flex;
    flex-direction: row;

}

.titulo h1 {
    font-size: 45px;
    color: var(--branco);
    font-weight: 600;
    margin-top: 10px;
    margin-left: 50px;
}

.banner_logo img {
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 30px;
    width: 300px;
}

.subtitulo {
    margin-left: 40px;
}

.subtitulo h3 {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: var(--branco);
}

.email-input input {
    width: 367px;
    height: 30px;
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 4px;
    color: var(--branco);
    font-weight: 200;
    border: 1px solid var(--branco);
    background-color: transparent;
}

.bt_submit {
    height: 30px;
    border-radius: 4px;
    margin-left: 5px;
    font-weight: 600;
    padding: 3px;
    background-color: var(--branco);
    color: var(--azul-escuro);
    border: 1px solid var(--branco);
}

.bt_submit:hover {
    text-decoration: none;
    background-color: transparent;
    color: var(--branco);
}


