.footer-copy {
    height: 200px;
    color: var(--branco);
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.footer-copy::before {
    content: "";
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    position: absolute;
    z-index: -1; 
}

.footer-copy .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.frase-final h1{
    text-transform: uppercase;
    line-height: 35px;
    margin-top: 10px;

}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.terms {
    font-weight: 300;
    text-align: justify;
    font-size: 14px;
    line-height: 20px;
    margin-left: -80px;
}

.redes-sociais {
    margin-right: -100px;
}

.redes-sociais h1 {
    width: 400px;
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}

.redes-sociais-img {
    margin-right: 40px;
}

.redes-sociais-img img {
    height: 30px;
    padding-left: 30px;
    margin-top: 15px;
}