.publico-alvo {
    font-family: 'Poppins', sans-serif;
    height: 50%;
}

.publico-alvo.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.publico-titulo {
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.publico-titulo h1{
    font-size: 18px;
    font-weight: 600;
    color: var(--azul-escuro);
}

/* .publico {
    margin-top: 30px;
} */

.publico img {
    height: 60px;
    margin-bottom: 10px;
}

.publico h1 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: start;
    color: var(--azul-escuro);
    font-weight: 600;
    margin-bottom: 20px;
}

.publico h3 {
    font-size: 18px;
    /* text-align: end; */
    line-height: 40px;
    margin-top: 5px;
    padding-right: 20px;
}

.imgEmpresas img {
    margin-top: 30px;
    height: 350px;
    width: 420px;
}

.quem {
    display: flex;
    align-items: center;
} 

/* **************************************************************************************************************************** */
.empresa-colaborador {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
}
.empresa {
    display: flex;
    margin-right: 30px;
}

.lista-empresa h1 {
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    color: var(--azul-escuro);
    margin-bottom: 20px;
}

.colaborador {
    display: flex;
    flex-direction: row;
    justify-content: end;
}


.lista-colaborador h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    color: var(--azul-escuro);
    margin-bottom: 20px;
}

.empresa-colaborador ul, 
.empresa-colaborador li {
    list-style-image: url(../img/right.png);
}

.empresa-colaborador ul {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.empresa-colaborador li {
    width: 350px;
    margin-bottom: 30px;
    line-height: 25px;
    text-align: justify;
}

.lista-empresa-item li {
    padding-right: 50px;
}

.lista-colaborador-item li {
    padding-right: 50px;
}