/*
******Cores******
Azul+claro: #11356D
Azul+/-: #052554
Azul+escuro: #061A39
Branco: #ffffff
Rosa: #FE49AF
Roxo: #9306DE
Laranja: #FE9E4E
Azulclaro: #2BD7F6


font-family: 'Poppins', sans-serif;

*/

@import url(style/header.css);
@import url(style/banner.css);
@import url(style/carrossel.css);
@import url(style/publico.css);
@import url(style/beneficios.css);
@import url(style/quem-somos.css);
@import url(style/animation.css);
@import url(style/contato.css);
@import url(style/footer.css);

:root {
    --branco: #ffffff;
    --azul-medio: #052554;
    --azul-escuro: #061A39;
    --azul-degrade: linear-gradient(97.54deg, #2b4c83 35.49%, #052554 165.37%);
    --rosa: #FE49AF;
    --roxo: #9306DE;
    --laranja: #FE9E4E;
    --azulclaro: #2BD7F6;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: rgb(219, 219, 219);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}