.beneficios {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

.beneficios-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
}

.beneficios-header::before {
    content: "";
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 100%;
    position: absolute;
    z-index: -1; 
}

.beneficios-titulo {
    font-family: 'Poppins', sans-serif;
    line-height: 60px;
    font-weight: 600;
    font-size: 50px;
    text-transform: uppercase;
    color: var(--branco);
}

.beneficios-subtitulo {
    color: var(--branco);
    width: 800px;
    font-weight: 200;
    text-align: center;
    line-height: 30px;
    margin-left: 30px;
}

.beneficios-sub2 {
    color: var(--branco);
    width: 800px;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
}

.propostas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 95%;
    margin-top: 30px;
}


.titulo-proposta {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    text-transform: uppercase;
    color: var(--azul-escuro);
    margin-bottom: 15px;
}

.proposta {
    padding: 20px;
    width: 370px;
}

.propostas p {
    font-weight: 300;
    line-height: 25px;
    text-align: justify;
}

.img-proposta {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.img-proposta img {
    height: 60px;
}

.diferencial-titulo {
    align-items: center;
    text-align: center;
    margin-top: 60px;
}

.diferencial-titulo h1 {
    font-size: 18px;
    font-weight: 600;
    color: var(--azul-escuro);
}


.proposta-unica {
    display: flex;
    margin-top: 30px;
}

.programa {
    margin-left: 30px;
}

.programa h1{
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: end;
}

.programa p {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: end;
}

.final-proposta {
    font-size: 20px;
    font-weight: 600;
    color: var(--azul-escuro);
    text-transform: uppercase;
    line-height: 30px;
    text-align: end;
    margin-top: 15px;
}

.aplicativo {
    margin-bottom: 60px;
}

.aplicativo-explica .titulo-proposta {
    margin-top: 20px;
}

.aplicativo-explica ul, 
.aplicativo-explica li {
    list-style-image: url(../img/right.png);
}

.aplicativo-explica ul {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding-left: 30px;
}

.aplicativo-explica li {
    width: 550px;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 25px;
    text-align: justify;
}

.aplicativo-explica h1{
    width: 650px;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    text-align: justify;
    margin-right: 60px;
}