.carossel-titulo {
    font-family: 'Poppins', sans-serif;
}

.carossel-titulo::before {
    content: "";
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    position: absolute;
    z-index: -1; 
}

.carossel-titulo h1 {
    width: 600px;
    line-height: 50px;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    color: var(--branco);
}

.carossel-titulo p {
    color: var(--branco);
    width: 800px;
    font-weight: 200;
    text-align: center;
    line-height: 25px;
    margin-left: 30px;
}



.carrossel {
    background-color: var(--branco);
    height: 100vh;
    margin-top: 60px;
}

.swiper {
    margin-top: 25px;
}

.swiper-pagination {
    margin-top: 50px;
    position: initial;
}

.swiper-slide img {
    height: 350px;
}

.swiper-button-prev,
.swiper-button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 60%;
    background-color: #002F52;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: "";
}

.final-carossel {
    margin-bottom: 60px;
}

.final-carossel::before {
    content: "";
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 100%;
    position: absolute;
    z-index: -1; 
}